@import "utils/reset";
@import "utils/type";

@import "buttons";
@import "plants";
@import "animation";

body {
  background: #f9f9f9;
  color: #222;
}

.main {
  width: 100%;

  header {
    background-color: white;
    padding: 3rem;
    border-bottom: 1px solid #ddd;
  }
}

.main-title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1;
  margin: 0;
  @extend .animated;
  @extend .tdZoomInBounce;
  animation-delay: 1s;
}

.list {
  margin: 0 0 0 -2rem;
  padding: 3rem;
  float: left;
  width: 100%;
}
